/* Aumento del espacio a la izquierda y derecha de la sugerencia*/
.sugerencia{
    padding-left: 2px;
    padding-right: 2px;
}

/* Modificacion del color de la sugeencia cuando el raton pasa por encima*/
.sugerencia:hover{
    background-color: #ADD8E6;
    cursor: pointer;
}

/* Posicionamiento de la lista de sugerencias debajo del campo de texto */
#sugerencias{
    background-color: #F8F8FF;
    position: absolute;
    left: 200px;
}